# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Security - Never commit secrets
*.key
*.secret
*secret*
*password*
local.settings.json
.env.local
.env.production.local

# dependencies
/node_modules
/api/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.development.local
.env.test.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/

# OS
Thumbs.db
*.swp
*.swo

# Azure
.azure/

# Logs
logs
*.log

# Large files
*.msi
*.exe
*.zip
*.tar.gz
*.dmg

# Azure Functions
local.settings.json
api/local.settings.json
.funcignore
